<h1>Ng Mentions Angular Material Demo</h1>
<p>
  <a href="https://github.com/james-schwartzkopf/ng-mentions">ng-mentions</a> with drop downs styled using
  <a href="https://material.angular.io/">@angular/material</a>. <!-- (<a href="#">bootstrap example</a>) -->
</p>
<p>
  Simple Angular mentions inspired by <a href="https://github.com/jeff-collins/ment.io">Ment.io</a>
  & <a href="http://dmacfarlane.github.io/angular-mentions/">Angular Mentions</a>.
</p><p>
  Provides auto-complete suggestions for @mentions in text input fields, text areas,
  and content editable fields (content editable support is currently limited).
</p><p>
  This is still a work in progress.  Expect breaking changes, although I will try to minimize
  them for the common use cases.
</p>

<app-mat-demo-textarea></app-mat-demo-textarea>
<app-mat-demo-content-editable></app-mat-demo-content-editable>
