
/*
  Styles to allow us to use the mat-autocomplete-panel SCSS/CSS to style our our dropdown.

  This will need to be kept up to date with the mat-autocomplete code.
*/

.mention-list-panel {
  /*
    taken from
      https://github.com/angular/material2/blob/master/src/lib/autocomplete/autocomplete.scss

    Can't use directly since that is compiled into the autocomplete component.
   */
  .mat-autocomplete-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*visibility: hidden;*/
    max-width: none;
    max-height: 256px;
    position: relative;
    width: 100%
  }

  .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
  }

  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible
  }

  .mat-autocomplete-panel.mat-autocomplete-hidden {
    visibility: hidden
  }

  @media screen and (-ms-high-contrast: active) {
    .mat-autocomplete-panel {
      outline: solid 1px
    }
  }
}

